:root {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
}

header {
    position: relative;
}

header > img  {
    height: 100vh;
}

header > div {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;
}