@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
         url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #3b3b3b;
    font-family: 'source_sans_proregular', system-ui, sans-serif;
}

body {
    display: flex;
    margin: 5% auto;
    border: #1f1f1f 10px solid;
    background-color: #eeeeee;
    width: fit-content;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

header {
    position: relative;
    color: rgb(255, 255, 255);
    height: 1049px;
    a {
        color: inherit;
    }
        div {
            position: absolute;
            width: 100%;
            text-align: center;
            background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.6), rgba(0,0,0,0));
        }
        div:nth-of-type(1) {
            bottom: 35px;
            padding: 5px 0px;
        }
        div:nth-of-type(2) {
            font-family: 'bebas_neueregular', system-ui, sans-serif;
            font-size: 50px;
            top: 300px;
            color: #e0c8ff;
            height: 70px;
                p {
                    font-size: small;
                    margin: -12px;
                    padding-left: 190px;
                }
        }
}

header > img  {
    width: 700px;
}

main {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 0;
    width: 1000px;
}

.head-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex-basis: 0;
    justify-content: end;
    flex: 1;
    padding-left: 3%;
    font-size: 1.8rem;
    width: 70%;
    font-weight: 600;
        p {
            margin: 0 0 20px 0;
        }
        p + p {
            padding-bottom: 40px;
        }
}

legend {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.4rem;
}

form {
    display: flex;
    position: relative;
    flex-flow: column;
    background-color: white;
    flex: 0;
    width: auto;
    height: fit-content;
    padding: 2% 3%;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

form div {
    display: flex;
    gap: 66px;
        div {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
}

label {
    font-family: 'bebas_neueregular', system-ui, sans-serif;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

input {
    box-sizing: border-box;
    width: 255px;
    height: 30px;
    padding-left: 8px;
    border: rgba(114, 114, 114, 0.3), solid, 0.1em;
    border-radius: 4%;
    outline: none;
}

input:user-invalid, input:invalid  {
    border: rgba(255, 33, 33, 0.5), solid, 0.15em;
}

input:focus {
    appearance: none;
    border: #530074 1px solid;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

input + p {
    opacity: 0;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    margin-bottom: 17px;
}

input[type="password"] + p {
    margin-bottom: 0px;
}

input:invalid + p {
    opacity: 1;
    color: rgba(255, 33, 33, 0.5);
}

button {
    margin: 5% 3.2%;
    padding: 10px 50px;
    font-family: "bebas_neueregular", sans-serif;
    background-color: #530074;
    color: white;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
    font-size: 1.2rem;
    position: absolute;
    bottom: -120px;
    left: 0;
}

form + div {
    flex: 1;
    font-size: 1.2rem;
    margin-left: 3%;
    align-content: flex-start;
        div {
            margin-top: 100px;
        }
        a {
           text-decoration: none;
           color: #530074;
           font-weight: 600; 
        }
}