:root {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #eeeeee;
}

body {
    display: flex;
    margin: 5%;
}

header {
    position: relative;
}

header > img  {
    width: 700px;
}

header > div {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex-grow: 2;
    gap: 10%;
    width: auto;
}
.head-text {
    padding-left: 3%;
}

legend {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-flow: column;
    background-color: white;
    width: auto;
    padding-left: 3%;
    padding: 2% 3%;
}

.form-container div {
    display: flex;
    gap: 66px;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    width: 255px;
    height: 23px;
    padding-left: 8px;
    margin-bottom: 17px;
}

button {
    margin: 5% 3.2%;
    padding: 10px 65px;
}

form > button + div {
    margin-left: 3%;
}